<h1>Tours:</h1>
<ul>
  {{#each tours}}
    {{! A new block with a changed context}}
    <li>
      {{name}} - {{price}}
      {{#if ../currencies}}
        ({{../../currency.abbrev}})
      {{/if}}
    </li>
  {{/each}}
</ul>

{{#unless currencies}}
  <p>All prices in {{currency.name}}</p>
{{/unless}}

{{#if specialsUrl}}
  {{! A new block with an almost unchanged context}}
  <p>Check out our <a href="{{specialsUrl}}">specials!</a></p>
{{else}}
  <p>Please check back often for specials.</p>
{{/if}}

<p>
  {{#each currencies}}
    <a href="#" class="currency">{{.}}</a>
  {{else}}
    Unfortunately, we currently only accept {{currency.name}}.
  {{/each}}
</p>
